* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html.login-page,
html.login-page body {
  height: 100%;
  padding:0;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
  width:90%;
}

.widget-block {
    background-color: #fff;
    box-shadow: 0px 21px 30px rgba(25,41,51,0.08);
    border-radius: 12px;
}

@media (min-width: 768px) {
  .cover-container {
    width: 400px;
  }
}

body {
	background: #f4f7fc;
	padding: 103.5px 0 0 0;
	margin: 0;
	font-weight: 400;
	font-size: 14px;
	line-height:21px;
	font-family: 'Nunito', sans-serif;
	overflow-y:scroll;
}

.navbar-brand{
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 18px;
	font-weight: 800;
	color: #666;
}

.navbar-brand > img{
	width:auto;
	height:36px;
	margin-right:15px;
	display:inline-block;
}

.navbar-default {
    border-color: #233b63;
	background-color: #fff;
	margin-bottom:0;
}

.modal-open .navbar-default{
	padding-right:17px;
}

.navbar-default .navbar-nav > li > a {
	font-weight: 400;
	color: #778396;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #233b63;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
	background-color: #233b63;
}

.content-box{
    margin: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 21px 30px rgba(25,41,51,0.08);
}

.content-box-title{
    margin: 0 0 10px;
    font-size: 21px;
    font-weight: 600;
    color: #939cac;
}

.bg-primary-2{
	background-color:#162e56;
}

.bg-primary-3{
	background-color:#233b63;
}

.bg-primary-3 a,
.bg-primary-3 a:hover,
.bg-primary-3 a:focus,
.bg-primary-3 a:active{
	color: #c8d4e7;
}

.custom-modal-backdrop{
	background-color: #f4f7fc;
}

.custom-modal-backdrop.in {
    filter: alpha(opacity=80);
    opacity: .80;
}

.custom-modal-backdrop.fade {
    filter: alpha(opacity=80);
    opacity: .80;
}

.custom-modal .modal-content{
    box-shadow: 0px 21px 30px rgba(25,41,51,0.08);
    border-radius: 12px;
    border-color: #fff;
}

.custom-modal .modal-title{
	font-size: 18px;
	font-weight: 500;
	color: #162e56;
}

.custom-modal .modal-header .close {
    margin-top: 0px;
	font-size: 24px;
	filter: alpha(opacity=15);
	opacity: .15;
}

.page-title{
	padding:15px 0;
	font-size:16px;
}

.page-title strong{
	text-transform: uppercase;
	font-weight: 600;
	color: #8295b5;
}

.form-group {
    position: relative;
}

.form-group > label{
	margin:0;
	font-weight:600;
	font-size:14px;
	color:#778396;
}

.form-group label.error{
	position:absolute;
	top: 0;
	right: 0;
	color:#f13c5f;
	font-size:12px;
	display:none;
}

.form-group.error-parent-class label.error{
	display:block;
}

.form-group.error-parent-class .form-control,
.form-group.error-parent-class .select2-container--default .select2-selection--single,
.form-group.error-parent-class .select2-container--default .select2-selection--multiple{
    border-color: #f5bcc7;
    background-color: #fff1f3;
}

.va-top{
	vertical-align:top;
}

.text-danger {
    color: #ff0500 !important;
}

.bt-1-grey{
	border-top:#eee solid 1px;
}

.bb-1-grey{
	border-bottom:#eee solid 1px;
}

.mb-25{
	margin-bottom:25px;
}

.mt-15{
	margin-top:15px;
}

.mb-15{
	margin-bottom:15px;
}

.mr-5{
	margin-right:5px;
}

.mr-10{
	margin-right:10px;
}

.mr-15{
	margin-right:15px;
}

.mb-0{
	margin-bottom:0px;
}

.p-25{
	padding:25px;
}

.p-15{
	padding:15px;
}

.pt-25{
	padding-top:25px;
}

.pb-25{
	padding-bottom:25px;
}

.pt-15{
	padding-top:15px;
}

.pb-15{
	padding-bottom:15px;
}

.pr-15{
	padding-right:15px;
}

.pt-0{
	padding-top:0 !important;
}

.pb-0{
	padding-bottom:0;
}

.pr-30{
	padding-right:30px;
}

.btn-min-width{
	min-width:175px;
}

.btn-min-width-80{
	min-width:80px;
}

.btn-md {
    padding: 6px 10px;
	font-size: 15px;
	font-weight: 600;
}

.btn-grey{
    background-color: #ddd;
    border-color: #ddd;
    color: #444;
}

.btn-grey:hover{
    background-color: #ccc;
    border-color: #ccc;
}

.flex-row-center {
    align-items: center;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-col {
    flex: 1;
}

.flex-col-310{
    flex: inherit;
    width: 310px;
}

.pos-rel{
	position:relative;
}

canvas{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.form-control{
	height: 40px;
	font-size: 16px;
	font-weight: 600;
	color: #162e56;
	background-color: #eff0f5;
	border: 1px solid #e6e8eb;
}

.form-control:focus {
  border-color: #e6e8eb;
}

.dashboard-block-list > .flex-col{
	margin:15px;
	background-color:#fff;
	border-radius:10px;
	box-shadow: 0px 21px 30px rgba(25,41,51,0.08);
}

.dashboard-block-list .flex-col .dashboard-block-items{
	padding:20px;
}

.dashboard-block-list .flex-col .dashboard-block-items h4{
	margin: 0 0 10px;
	font-size: 21px;
	font-weight: 600;
	color: #939cac;
}

.dashboard-block-list .flex-col .dashboard-block-items h2{
	margin: 0 0 10px;
	font-size: 36px;
	font-weight: 700;
	color: #276ffe;
}

.dashboard-block-list .flex-col .dashboard-block-items p {
    font-size: 16px;
    font-weight: 500;
    color: #657389;
    margin: 0 0;
    padding: 0;
}

.dashboard-block-list .flex-col .dashboard-block-items .form-control{
    display: inline-block;
    width: auto;
    background-color: #fff;
    border-color: #fff;
	margin-top: -7px;
    border-radius: 0;
    -webkit-appearance: none;
	padding-right: 35px;
}

select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    0px 1.5em;
  background-repeat: no-repeat;
}

.initial-step-block{
	padding: 0;
	background-color: #fff;
	box-shadow: 0px 21px 30px rgba(25,41,51,0.08);
	height: 562px;
	margin: 0 0 0 -400px;
	width: 800px;
	top:160px;
	left:50%;
	border-radius: 12px;
	position:absolute;
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}

.initial-step-block.customSlideLeft{
	left:-360px;
	width:700px;
	top:0;
	margin:0 0 0;
	height:100%;
	border-radius: 0px;
	padding-top:104px;
	position: fixed;
	z-index: 10;
}

.initial-step-block.customSlideRight{
	left:0;
	box-shadow: 0px 21px 30px rgba(25,41,51,0.4);
}

.training-panel-title{
	padding:25px 25px;
	font-size:18px;
	font-weight:500;
	color: #162e56;
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}

.customSlideLeft .training-panel-title{
    padding-left: 375px;
    padding-right: 15px;
}

.customSlideRight .training-panel-title{
    padding-left: 15px;
    padding-right: 15px;
}

.training-panel-content{
	padding:25px 25px;
	height: 490px;
	-webkit-transition: .1s ease-in;
	-o-transition: .1s ease-in;
	transition: .1s ease-in;
}

.training-panel-content > form{
	height: 100%;
}

.customSlideLeft .training-panel-content,
.customSlideRight .training-panel-content{
    padding-left: 15px;
    padding-right: 15px;
}

.training-panel-content .flex-row{
	height:100%;
}

.training-panel-content .form-group{
	margin-bottom:25px;
	position:relative;
}


.training-panel-content .form-group.error-parent-class > label,
.panel-custom .panel-body .form-group.error-parent-class > label{
	/*color: #f14440;*/
}

.input-file-box {
    padding: 15px 15px;
    text-align: center;
    position: relative;
	height:418px;
	background-color: #eff0f5;
	border: 1px solid #e6e8eb;
	border-radius:8px;
}

.input-file-box.error-parent-class{
	border-color: #f5bcc7;
	background-color: #fff1f3;
}

.input-file-box label{
	margin:-40px 0 0 0;
	font-weight:600;
	font-size:12px;
	color: #aeb2cb;
	z-index: 0;
	position: absolute;
	top:50%;
	left:0;
	right:0;
	background-image:url(../images/upload.png);
	background-repeat:no-repeat;
	background-position:top center;
	padding:54px 0 0 0;
}

.input-file-box label.error{
    margin: 0px;
    background-image: none;
    color: #f13c5f;
	top:50%;
}

.inputfile {
    opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 0;
	cursor:pointer;
}

.input-receipt-box{
	height:418px;
	text-align:center;
	/*background-color: #9b9b9b;*/
	padding: 0;
	overflow:hidden;
	-webkit-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	transition: .5s ease-in;
}

.input-receipt-box img{
}


.feature-fields-block{
	padding-left:340px;
	-webkit-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}

/*.customSlideRight + .feature-fields-block{
	padding-left:700px;
}*/

.customSlideRight + .feature-fields-block{
	position:relative;
}

.customSlideRight + .feature-fields-block .feature-fields-overlay{
	position:fixed;
	width:100%;
	height:100%;
	content:"";
	left:0;
	top:0;
	background-color:rgba(255, 255, 255, 0.7);
	z-index:3;
	display:block !important;
	cursor: url(../images/close.png), pointer;
}

.customSlideRight.no-allow + .feature-fields-block .feature-fields-overlay{
	cursor: not-allowed;
}

.feature-fields-content{
	padding:72px 0 0 0;
	position:relative;
}

.feature-fields-content #contentTopInfo{
	position: fixed;
	left: 0;
	top: 103px;
	padding: 15px 15px 15px 355px;
	background-color: #fff;
	width: 100%;
	z-index: 2;
}

.modal-open .feature-fields-content #contentTopInfo{
	padding-right: 32px;
}

#contentTopInfo .brand-receipt-details{
	font-size:14px;
	padding:0;
}

#contentTopInfo .brand-receipt-details label{
	margin: 0;
	font-weight: 600;
	color: #778396;
	display:block;
	line-height: 20px;
}

#contentTopInfo .brand-receipt-details strong{
	margin: 0;
	font-weight: 700;
	color: #162e56;
	padding: 0;
	display:block;
}

.feature-fields-content #contentBottomInfo{
	margin-top:25px;
	padding: 0 15px;
}

.start-training-toolbar{
	position: absolute;
    top: -1px;
    right: -10px;
}

.start-training-toolbar a{
	min-width: 92px;
	text-align: right;
}

.start-training-toolbar a i{
    font-size: 15px;
    opacity: 0.6;
}

.brand-receipt-details{
	font-size:16px;
	padding: 3px 0 2px 0;
}

.brand-receipt-details label{
	margin: 0;
	font-weight: 600;
	color: #778396;
}

.brand-receipt-details strong{
	margin: 0 25px 0 0;
	font-weight: 700;
	color: #162e56;
	padding: 0 5px;
}

.btn-muted,
.btn-muted:hover,
.btn-muted:focus,
.btn-muted:active{
	color:#777;
	text-decoration:none;
}

#accordion .panel:first-child .btn-prev,
#accordion .panel:last-child .btn-next{
	display:none;
}

.toggle-accordion,
.toggle-accordion:hover,
.toggle-accordion:active,
.toggle-accordion:focus{
	color:#B0B9CF;
	text-decoration:none;
}

.toggle-accordion:before {
  content: "Collapse / Expand All";
}

.toggle-accordion.active:before {
  content: "Collapse / Expand All";
}

.panel-custom {
    margin: 0 15px 0;
}

.panel-custom .panel-default > .panel-heading {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    padding: 0px;
	border-radius: 12px;
}

.panel-custom .panel {
	box-shadow: 0px 21px 30px rgba(25,41,51,0.08);
	border-radius: 12px;
	border-color: #fff;
}

.panel-custom .panel + .panel {
    margin-top: 40px;
	margin-bottom: 40px;
}

.panel-custom .panel .panel-title > a {
    font-weight: 700;
	font-size: 18px;
	padding: 20px;
	display:block;
}

.panel-custom .panel .panel-title > a:hover,
.panel-custom .panel .panel-title > a:focus {
    text-decoration:none;
}

.panel-custom .panel .panel-title > a.collapsed:hover{
	/*background-color:#fffcf4;*/
}

/*.panel-custom .panel .panel-title > a:before {
    position: relative;
	content: "\e113";
	top: 4px;
	margin-right: 7px;
	color: #adadad;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.panel-custom .panel .panel-title > a.collapsed:before {
	content: "\e114";
}*/

.panel-custom .panel .panel-title a{
	position:relative;
}

.panel-custom .panel.error-panel-class .panel-title a:after{
	position: absolute;
	width: 14px;
	height: 14px;
	content: "";
	right: 21px;
	top: 22px;
	background-image: url(../images/error.png);
	background-repeat: no-repeat;
	background-position: center center;
	display:none;
}

.panel-custom .panel.error-panel-class .panel-title a.collapsed:after{
	display:block;
}

.panel-custom .panel-body{
	padding:25px;
	border-top-color: #fff !important;
}

.panel-custom .panel-body .form-group > label{
	margin: 0;
	font-weight: 600;
	font-size: 14px;
	color: #778396;
	text-transform:capitalize;
}

.panel-custom .panel-footer {
    padding: 15px 25px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.custom-modal.modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.custom-modal.modal.fade .modal-dialog {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.custom-modal .test-back-content{
}

.custom-modal .test-back-content img{
	max-width:100%;
}

.custom-modal .test-back-content .tbc-doc span{
	position: absolute;
	font-weight: 600;
	font-size: 14px;
	color: transparent;
	text-transform: capitalize;
	border: #ff00e8 dashed 2px;
	background: rgba(255, 84, 232, 0.5);
}

.custom-modal .test-back-content .form-group p{
	font-weight: 700;
}

.custom-modal .test-back-content .form-group p > span {
    display: block;
    font-weight: 600;
    color: #f330e1;
}

.trained-documents-list .trained-documents-items{
	padding:20px;
	border-radius:10px;
	background-color:#fff;
	margin:0 0 30px;
	min-height:150px;
	position:relative;
	box-shadow: 0px 0px 10px rgba(25,41,51,0.05);
}

.trained-documents-list .trained-documents-items:hover{
	box-shadow: 0px 21px 30px rgba(25,41,51,0.08);
}

.trained-documents-list .trained-documents-items h2{
	font-size: 21px;
	font-weight: 600;
	color: #001441;
	margin:0 0 10px;
	padding:0;
}

.trained-documents-list .trained-documents-items h4{
	font-size: 16px;
	font-weight: 500;
	color: #939cac;
	margin:0 0 10px;
	padding:0;
}

.trained-documents-list .trained-documents-items p{
	font-size: 13px;
	font-weight: 500;
	color: #657389;
	margin:0 0 10px;
	padding:0;
}

.trained-documents-list .trained-documents-items .dropdown{
	position:absolute;
	right:0;
	top: 10px;
}

.trained-documents-list .trained-documents-items .dropdown .btn-default {
    color: #9b9b9b;
    background-color: transparent;
    border-color: transparent;
	font-size: 15px;
	z-index: 1001;
	position:relative;
}

.trained-documents-list .trained-documents-items .dropdown .btn:hover,
.trained-documents-list .trained-documents-items .dropdown .btn:focus,
.trained-documents-list .trained-documents-items .dropdown .btn:active {
	color:#4b5c74;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.trained-documents-list .trained-documents-items .dropdown .dropdown-menu {
    right: 10px;
    left: auto;
	background-color:#eff0f5;
	border-color: #dbddea;
	top: 0;
}

.trained-documents-list .trained-documents-items .dropdown .dropdown-menu > li > a {
    padding: 10px 20px;
    color: #67758a;
    font-weight: 600;
}

.trained-documents-list .trained-documents-items .dropdown .dropdown-menu > li > a:hover, 
.trained-documents-list .trained-documents-items .dropdown .dropdown-menu > li > a:focus {
    opacity:0.7;
    text-decoration: none;
    background-color: transparent;
}


/**
 * EasyZoom core styles
 */
.easyzoom {
	position: relative;
	display: inline-block;
}

.easyzoom img {
	vertical-align: bottom;
}

.easyzoom.is-loading img {
	cursor: progress;
}

.easyzoom.is-ready img {
	cursor: crosshair;
}

.easyzoom.is-error  img {
	cursor: not-allowed;
}

.easyzoom-notice {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 150;
	width: 10em;
	margin: -1em 0 0 -5em;
	line-height: 2em;
	text-align: center;
	background: #FFF;
	box-shadow: 0 0 10px #888;
}

.easyzoom-flyout {
	position:absolute;
	z-index: 100;
	overflow: hidden;
	background: #FFF;
}

.easyzoom--overlay .easyzoom-flyout {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.easyzoom--adjacent .easyzoom-flyout {
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	margin-left: 20px;
}

.easyzoom.no-allow img {
    cursor: default !important;
}
.easyzoom.no-allow .easyzoom-flyout {
	display:none !important;
}

@-webkit-keyframes placeHolderShimmer{0%{background-position:-468px 0}100%{background-position:468px 0}}@keyframes placeHolderShimmer{0%{background-position:-468px 0}100%{background-position:468px 0}}.content-placeholder{display:inline-block;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-name:placeHolderShimmer;animation-name:placeHolderShimmer;-webkit-animation-timing-function:linear;animation-timing-function:linear;background:#f6f7f8;background:-webkit-gradient(linear,left top,right top,color-stop(8%,#eee),color-stop(18%,#ddd),color-stop(33%,#eee));background:-webkit-linear-gradient(left,#eee 8%,#ddd 18%,#eee 33%);background:linear-gradient(to right,#eee 8%,#ddd 18%,#eee 33%);-webkit-background-size:800px 104px;background-size:800px 104px;height:inherit;position:relative}






